name: Build image after tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  DOCKER_CONTAINER_NAME: ${{ vars.DOCKER_CONTAINER_NAME }}
  APP_FILE: ${{ vars.APP_FILE }}
  BIN_NAME: ${{ vars.BIN_NAME }}
  DOCKER_IMAGE_NAME: ${{ vars.DOCKER_IMAGE_NAME }}
  DOCKER_NAMESPACE: ${{ vars.DOCKER_NAMESPACE }}

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-go@v6
      with:
        go-version: '1.23'
    
    - name: Test
      run: make test
    
    - name: Build and publish
      run: make docker-publish