name: Build image after tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  DOCKER_CONTAINER_NAME: ${{ vars.DOCKER_CONTAINER_NAME }}
  APP_FILE: ${{ vars.APP_FILE }}
  BIN_NAME: ${{ vars.BIN_NAME }}
  DOCKER_IMAGE_NAME: ${{ vars.DOCKER_IMAGE_NAME }}
  DOCKER_NAMESPACE: ${{ vars.DOCKER_NAMESPACE }}

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-go@v6
      with:
        go-version: '1.23'
    
    - name: 'Create env file'
      run: |
        touch .env
        echo "DOCKER_CONTAINER_NAME=$DOCKER_CONTAINER_NAME" >> .env
        echo "APP_FILE=$APP_FILE" >> .env
        echo "BIN_NAME=$BIN_NAME" >> .env
        echo "DOCKER_IMAGE_NAME=$DOCKER_IMAGE_NAME" >> .env
        echo "DOCKER_NAMESPACE=$DOCKER_NAMESPACE" >> .env
        cat .env
    
    - name: Test
      run: make test
    
    - name: Build and publish
      run: make docker-publish