name: Build image after tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-go@v6
    - name: 'Create env file'
      run: |
        touch .env
        echo DOCKER_CONTAINER_NAME=${{ env.DOCKER_NAMESPACE }} >> .env
        echo APP_FILE=${{ env.DOCKER_NAMESPACE }} >> .env
        echo BIN_NAME=${{ env.DOCKER_NAMESPACE }} >> .env
        echo DOCKER_IMAGE_NAME=${{ env.DOCKER_NAMESPACE }} >> .env
        echo DOCKER_NAMESPACE=${{ env.DOCKER_NAMESPACE }} >> .env
        cat .env
    - name: Test
      run: make test
    - name: Build&&publish
      run: make docker-publish
  # Publish:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v5
  #   - uses: actions/setup-go@v6
  #   - name: 'Create env file'
  #     run: |
  #       touch .env
  #       echo DOCKER_CONTAINER_NAME=${{ env.DOCKER_NAMESPACE }} >> .env
  #       echo APP_FILE=${{ env.DOCKER_NAMESPACE }} >> .env
  #       echo BIN_NAME=${{ env.DOCKER_NAMESPACE }} >> .env
  #       echo DOCKER_IMAGE_NAME=${{ env.DOCKER_NAMESPACE }} >> .env
  #       echo DOCKER_NAMESPACE=${{ env.DOCKER_NAMESPACE }} >> .env
  #       cat .env
  #   - name: Build&&publish
  #     run: make docker-publish
